
/* ~~~~~~~~~~~~~~~~~~~ SIDEBAR ~~~~~~~~~~~~~~~~~~ */

.sidebar-toggle {
  width: 65vw;
  display: flex;
  justify-content: flex-end;
}

.sidebar {
  width: 16rem;
  background-color: whitesmoke;
  height: 90vh;
  position: absolute;
  top: 10vh;
  left: -100%;
  transform: 0.3s all ease-in-out;
}

.sidebar.active {
  width: 50%;
  height: 100%;
  background-color: whitesmoke;
  position: absolute;
  top: 10vh;
  left: 0;
  transform: 0.3s all ease-in-out;
  z-index: 1;
}

.sidebar-items {
  font-size: 1.2rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.2 all ease-in-out;
}

.sidebar-item {
  list-style: none;
}

.sidebar-item {
  padding-left: 0;
}
.sidebar-item a {
  text-decoration: none;
  color: black;
  font-size: 1.2rem;
  padding: 6px 16px;
  display: flex;
  align-items: center;
  cursor: pointer;
  border-radius: 5px;
  transition: 0.2s all ease-out;
}

.sidebar-item a span {
  margin-left: 1.5rem;
  font-size: 1.3rem;
}

.sidebar-amen {
  font-size: 1.8rem;
}

.sidebar-title {
  font-size: 1.4rem;
  margin-left: 0.5rem;
}

.sidebar-item a:hover {
  background-color: bisque;
}

.sidebar .btn {
  margin-top: 2.4rem;
  text-align: center;
  width: auto;
  padding-left: 10px;
  margin: 10px;
}
.sidebar-btn {
  display: flex;
  justify-content: center;
}

/* @media screen and (max-width:900px) {
  .sidebar.active{
    width: 10rem;
  }
  .sidebar-item a span {
    display: none;
  }
} */

/* ~~~~~~~~~~ mobile header elements ~~~~~~~~ */

.header-top {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  align-items: center;
  height: 100%;
  margin-top: 1rem;
}
.top-center {
  justify-content: center;
  text-align: center;
  display: flex;
  flex: 15px;
}

.top-right {
  display: flex;
}
.top-left {
  display: flex;
  align-items: center;
}

.mobile-header-item {
  color: black;
  display: flex;
  align-items: center;
}
.mobile-header-item a {
  color: black;
}
.mobile-nav {
  color: black;
  vertical-align: middle;
}

.mobile-nav:hover {
  cursor: pointer;
}

.navbar-logo img {
  margin: 0 10px;
  width: 55px;
}

.logo-mobile {
  display: flex;
  margin-left: 1.5rem;
  justify-content: center;
  text-align: center;
}

/* ~~~~~~~~~~ desktop header elements ~~~~~~~~ */

.desktop-header {
  padding: 0 15px;
  display: flex;
  flex-wrap: nowrap;
  -webkit-box-align: center;
  align-items: center;
  top: 0;
  left: 0;
  right: 0;
  z-index: 15;
  background-color: #fff;
}

.search-wrapper {
  display: flex;
  -webkit-box-flex: 1;
  flex: 1 0 auto;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: start;
  justify-content: flex-start;
  height: 100%;
  padding-top: 9px;
}
.header-search {
  flex: 10px;
}

.header-links {
  -webkit-box-pack: justify;
  justify-content: space-between;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: stretch;
  align-items: stretch;
  height: 77px;
  margin-left: 20px;
}

.header-item {
  display: -webkit-box;
  display: flex;
  padding: 0 10px;
  -webkit-box-align: stretch;
  font-size: larger;
  align-items: center;
  -webkit-box-pack: end;
  justify-content: flex-end;
}

.header-item span {
  margin-left: 0;
}

.header-item a {
  color: black;
}

.subnav-content {
  top: 35px;
  left: 0;
  /* height: 540px; */
  height: auto; /*height auto for the moment*/
  box-shadow: 0 2038px 0 2038px rgba(0, 0, 0, 0.8);
  z-index: 10;
  display: flex;
  visibility: hidden;
  padding: 0 40px 40px 40px;
  transition: 0.1s all ease-out;
}

.is-dropdown-submenu {
  position: absolute;
  width: 100%;
  background: #fefefe;
}

.main-nav {
  width: 100%;
  position: relative;
  z-index: 5;
}

.global-nav {
  width: 100%;
  display: -webkit-box;
  display: flex;
  flex-flow: row nowrap;
  position: relative;
  background: #fefefe;
  -webkit-box-pack: center;
  justify-content: center;
}

.menu {
  margin: 0;
  list-style-type: none;
  line-height: 1.6rem;
}

.menu > li:hover {
  display: table-cell;
  vertical-align: middle;
}

.menu > li a {
  display: block;
  color: black;
  padding: 0.7rem 1rem;
  line-height: 1;
}

.menu ul:hover {
  -webkit-box-shadow: 0 0 1rem rgba(0, 0, 0, 0.6);
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.6);
  background-color: white;
}

.nav-level-3-wrapper {
  display: flex;
  flex-flow: column wrap;
  -webkit-box-pack: start;
  justify-content: flex-start;
  -webkit-box-align: start;
  align-items: flex-start;
  align-content: flex-start;
  width: 100%;
  -webkit-column-count: 5;
  column-count: 5;
  padding-top: 15px;
  position: relative;
  max-height: 100%;
}

#nav5 > ul > li:hover > ul {
  visibility: visible;
}

#nav5 > ul > li:hover {
  text-decoration: underline;
}
#nav5 > ul > li > ul > div > a:hover {
  font-weight: bolder;
}
